.button {
    display: inline-block;
    padding:  0.5rem 1rem;
    color: var(--text-color);
    background-color: var(--accent-color);
    border-radius: 100px;
    transition:  background-color var(--time);
}

.button:hover {
    text-decoration: none;
    background-color: var(--accent-color-alt);
}

.button.tiny {
    padding: 0.25rem 0.5rem;
    font-size: var(--smaller-body-size);
}

.button.ghost {
    border: 2px solid white;
    background: none;
    font-weight: var(--semi-bold-font);
}