/* ----- Estios para la animación ----- */
/* ----- Pantalla encendiendo ----- */
@keyframes turn-on-hero-images {
    to {
        opacity: 0;
    }
}

.hero-image .picture.dark {
    animation: turn-on-hero-images 0.8s ease-in-out 0.1s forwards;
}

/* ----- Contenido del banner ----- */
@keyframes fade-in-hero {
    to {
        opacity: initial;
        transform: initial;
    }
}

.main-hero-banner :is(.product-title, .hero-title, .description, .subtitle, .hero-cta-container) {
    opacity: 0;
    transform: translateY(4rem);
    animation: fade-in-hero 1.5s ease-out forwards;
}

/* ----- Hero image ----- */
.hero-image {
    position: relative;
    width: 46rem;
    height: 27rem;
}

.hero-image .picture {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ----- Contenido del banner principal ----- */
.main-hero-banner {
    text-align: center;
}

.main-hero-banner .container {
    position: relative;
    margin-top: -5.5rem;
    font-family: var(--display-font);
    color: var(--text-color-alt);
    font-size: var(--bigger-body-size);
    font-weight: var(--medium-font);
    letter-spacing: 0.0005em;
    line-height: 1.25;
}

.main-hero-banner .product-title {
    font-size: var(--bigger-body-size);
    margin-bottom: 0.5rem;
    animation-delay: 0.5s;
}

.main-hero-banner .hero-title {
    padding-bottom: 1.25rem;
    font-size: 3rem;
    line-height: 1.05;
    letter-spacing: -0.015em;
    font-weight: var(--bold-font);

    /* ----- Degradado de fondo ----- */
    background-image: radial-gradient(#eff1ff, #000 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 50% 75%;
    background-size: 150% 200%;

    animation-delay: 0.7s;
}

.main-hero-banner .description {
    margin-bottom: 2.5rem;
    animation-delay: 0.9s;
}

.main-hero-banner :is(.subtitle, .hero-cta-container) {
    font-size: 1.25rem;
}

.main-hero-banner .subtitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    animation-delay: 1.1s;
}

.main-hero-banner .subtitle .chip {
    --size: 4rem;
    width: var(--size);
    height: var(--size);
}

.main-hero-banner .hero-cta-container {
    display: flex;
    flex-direction: column;
    animation-delay: 1.3s;
}

.main-hero-banner .hero-cta {
    color: var(--text-color);
    font-weight: var(--normal-font);
    padding-block: 0.5rem;
}

@media screen and (min-width: 734px) {
    .hero-image {
        width: 66rem;
        height: 39rem;
    }

    .main-hero-banner .container {
        margin-top: -8rem;
    }

    .main-hero-banner .product-title {
        margin-bottom: 1rem;
    }
    
    .main-hero-banner .hero-title {
        font-size: 5rem;
    }

    .main-hero-banner :is(.subtitle, .hero-cta-container) {
        font-size: var(--big-body-size);
        flex-direction: row;
    }

    .main-hero-banner .subtitle .chip {
        --size: 16rem;
    }

    .main-hero-banner .hero-cta {
        padding: 0;
    }

    .main-hero-banner .hero-cta:first-of-type::after {
        content: '|';
        padding-inline: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .main-hero-banner {
        margin-top: -2rem;
    }

    .hero-image {
        width: 84rem;
        height: 50rem;
    }
    .main-hero-banner .container {
        margin-top: -12rem;
    }

    .main-hero-banner .hero-title {
        font-size: 6rem;
    }

    .main-hero-banner .description {
        max-width: 56rem;
        margin-inline: auto;
    }
}
.section-chip{
    list-style-type: none;
}